.innerAboutContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills-h3 {
  text-align: center;
}

.about-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photo-description-container {
  display: flex;
  justify-content: center;
}

.headshot {
  width: 15vw;
  border-radius: 15px;
}

.about-me {
  width: 50%;
  font-size: 1.4em;
  text-align: justify;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about-me-p {
  text-indent: 2em;
}

.resume-header {
  margin: 10px;
}
.h2-under-picture {
  text-align: center;
}

.resume-a-link:link,
.resume-a-link:visited {
  text-decoration: none;
  cursor: pointer;
  color: orange;
}

.photo-and-greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .innerAboutContainer {
    width: 90%;
  }
  .about-me {
    width: 100%;
    font-size: 1.4em;
    padding: 0;
  }
  .about-me-p {
    text-indent: 1em;
  }
  .headshot {
    width: 50%;
  }
  .resume-header {
    padding: 0;
    margin: 10px 0;
  }
  .photo-description-container {
    flex-direction: column;
  }
}
